<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:ietf-network-topology="urn:ietf:params:xml:ns:yang:ietf-network-topology"
       xmlns:device-layer="urn:ietf:params:xml:ns:yang:device-layer"
       xmlns:ethernet-port="urn:ietf:params:xml:ns:yang:ethernet-port"
       name="cat6">

    <xacro:macro name="cat6" params="parent id:=0">

        <joint name="cat6-${id}_joint" type="fixed">
            <origin xyz="-1 1 0" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="cat6-${id}_link"/>
        </joint>

        <link name="cat6-${id}_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/rj45-female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/rj45-female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

            <ietf-network-topology:termination-point xmlns:ietf-network-topology="urn:ietf:params:xml:ns:yang:ietf-network-topology">
                <ietf-network-topology:tp-id>tp-1</ietf-network-topology:tp-id>
                        
                <device-layer:device-layer-termination-point-attributes xmlns:device-layer="urn:ietf:params:xml:ns:yang:device-layer">
                    <device-layer:port-name>rj45-${id}</device-layer:port-name>
                    <device-layer:port-type>rj45</device-layer:port-type>
                    
                    <ethernet-port:ethernet-port xmlns:ethernet-port="urn:ietf:params:xml:ns:yang:ethernet-port">
                        <ethernet-port:port-id>eth-${id}</ethernet-port:port-id>
                        <ethernet-port:mac-address>00:1A:2B:3C:4D:5E</ethernet-port:mac-address>
                        <ethernet-port:speed>1Gbps</ethernet-port:speed>
                        <ethernet-port:duplex-mode>full</ethernet-port:duplex-mode>
                    </ethernet-port:ethernet-port>

                </device-layer:device-layer-termination-point-attributes>
            </ietf-network-topology:termination-point>
    </xacro:macro>

</robot>