<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:ietf-network-topology="urn:ietf:params:xml:ns:yang:ietf-network-topology"
       xmlns:device-layer="urn:ietf:params:xml:ns:yang:device-layer"
       xmlns:usb-port="urn:ietf:params:xml:ns:yang:usb-port"
       name="usb_typec">

    <xacro:macro name="usb_typec" params="parent id=0">

        <joint name="usb-typec-${id}_joint" type="fixed">
            <origin xyz="-1 1 0" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="usb-typec-${id}_link"/>
        </joint>

        <link name="usb-typec-${id}_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/usb-typec-female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <mesh filename="package://interface_description/meshes/usb-typec-female.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

            <ietf-network-topology:termination-point xmlns:ietf-network-topology="urn:ietf:params:xml:ns:yang:ietf-network-topology">
                <ietf-network-topology:tp-id>tp-1</ietf-network-topology:tp-id>
                        
                <device-layer:device-layer-termination-point-attributes xmlns:device-layer="urn:ietf:params:xml:ns:yang:device-layer">
                    <device-layer:port-name>port-1</device-layer:port-name>
                    <device-layer:port-type>usb-c</device-layer:port-type>
                    
                    <usb-port:usb-port xmlns:usb-port="urn:ietf:params:xml:ns:yang:usb-port">
                        <usb-port:port-id>usb-typec-${id}</usb-port:port-id>
                        <usb-port:version>USB3.2</usb-port:version>
                        <usb-port:speed>5.00</usb-port:speed>
                        <usb-port:power-consumption>2.5</usb-port:power-consumption>
                    </usb-port:usb-port>
                            
                </device-layer:device-layer-termination-point-attributes>
            </ietf-network-topology:termination-point>
    </xacro:macro>

</robot>