<?xml version="1.0"?>
<robot name="example-configuration"
      xmlns:xacro="http://wiki.ros.org/xacro"
      >
    
    <link name="world" />

    <!-- import nuc -->
    <xacro:include filename="$(find nuc_description)/urdf/nuc.urdf.xacro" />

    <!-- import d455 camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />

    <!-- import usb-cable -->
    <xacro:include filename="$(find cable_description)/urdf/usb-cable.urdf.xacro" />

    <!-- import ethernet-cable -->
    <xacro:include filename="$(find cable_description)/urdf/ethernet-cable.urdf.xacro" />

    <!-- import universal robots ur3e -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />


    <!-- device layer YANG definitions -->
    <network>
        <network-id>device-layer-network</network-id>
        <network-types>
            <dl:device-layer-topology xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer"/>
        </network-types>

        <!-- instantiate nuc -->
        <xacro:nuc parent="world" id="0" origin_xyz="-1 1 0"/>

        <!-- instantiate universal robots ur3e -->
        <xacro:ur_robot 
            name="ur3e"
            tf_prefix=""
            parent="world"
            joint_limits_parameters_file="$(find ur_description)/config/ur3e/joint_limits.yaml"
            kinematics_parameters_file="$(find ur_description)/config/ur3e/default_kinematics.yaml"
            physical_parameters_file="$(find ur_description)/config/ur3e/physical_parameters.yaml"
            visual_parameters_file="$(find ur_description)/config/ur3e/visual_parameters.yaml">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:ur_robot>
       
        <!-- instantiate d455 camera -->
        <xacro:sensor_d455 parent="world" id="0">
            <origin xyz="1 -1 0" rpy="0 1.57 0" />
        </xacro:sensor_d455>

        <!-- ethernet cable in device layer between nuc and ur controlbox -->
        <xacro:ethernet-cable parent="nuc-0-cat6-0-link" src_node="nuc-0" dst_node="controlbox" src_tp="cat6-0" dst_tp="cat6-0" link_type="cat6" length="3"/>
        
        <!-- USB cable in device layer between nuc and camera-->
        <xacro:usb-cable parent="nuc-0-usb30-0-link" src_node="nuc-0" dst_node="d455" src_tp="usb30-0" dst_tp="usb-typec-0" link_type="usb30" length="2"/>

    </network>

</robot>