<?xml version="1.0"?>
<robot name="example-configuration"
      xmlns:xacro="http://wiki.ros.org/xacro" 
      xmlns:ietf-network="urn:ietf:params:xml:ns:yang:ietf-network"
      xmlns:ietf-network-topology="urn:ietf:params:xml:ns:yang:ietf-network-topology"
      xmlns:device-layer="urn:ietf:params:xml:ns:yang:device-layer"
      xmlns:network-layer="urn:ietf:params:xml:ns:yang:network-layer">


    <link name="world" />

    <!-- import nuc -->
    <xacro:include filename="$(find nuc_description)/urdf/nuc.urdf.xacro" />

    <!-- import d455 camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />


    <!-- instantiate d455 camera -->
    <xacro:sensor_d455 parent="world">
        <origin xyz="-0.022 -0.039 -0.01" rpy="0 1.57 0" />
    </xacro:sensor_d455>

    <!-- instantiate nuc -->
    <xacro:nuc parent="world" id="0" />


    <network>
        <network-id>device-layer-network</network-id>
        <network-types>
            <dl:device-layer-topology
                xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer"/>
        </network-types>
        
        <ietf-network-topology:link xmlns:ietf-network-topology="urn:ietf:params:xml:ns:yang:ietf-network-topology">
            <ietf-network-topology:link-id>link-1</ietf-network-topology:link-id>
            
            <ietf-network-topology:source>
                <ietf-network-topology:source-node>node-1</ietf-network-topology:source-node>
                <ietf-network-topology:source-tp>tp-1</ietf-network-topology:source-tp>
            </ietf-network-topology:source>
            
            <ietf-network-topology:destination>
                <ietf-network-topology:dest-node>node-2</ietf-network-topology:dest-node>
                <ietf-network-topology:dest-tp>tp-2</ietf-network-topology:dest-tp>
            </ietf-network-topology:destination>
            
            <device-layer:device-layer-link-attributes xmlns:device-layer="urn:ietf:params:xml:ns:yang:device-layer">
                <device-layer:physical-link-name>Link-1</device-layer:physical-link-name>
                <device-layer:physical-link-type>cat5e</device-layer:physical-link-type>
            </device-layer:device-layer-link-attributes>

        </ietf-network-topology:link>
    </network>

</robot>